<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/aberporthdata.txt</string>
		<key>name</key>
		<string>Aberporth</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/armaghdata.txt</string>
		<key>name</key>
		<string>Armagh</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/ballypatrickdata.txt</string>
		<key>name</key>
		<string>Ballypatrick Forest</string>
	</dict>
</array>
</plist>
